.mega-container {
    width: 90%;
    margin: 0 auto;
}

#header {
    text-align: center;
    margin-top: 10px;
}

#sub-heading {
    margin-top: 10px;
}

.container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-auto-rows: 500px;
    margin-top: -30px;
}

.main-container {
    padding-left: 150px;
}

.player,
.images {
    display: grid;
    grid-template-columns: 500px;
    grid-auto-rows: 500px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

lottie-player {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.option {
    margin-top: 20px;
    display: flex;
    direction: rtl;
    text-align: start;
    margin-right: 100px;
    margin-bottom: 50px;
    gap: 20px;
}

#vProfile {
    width: 160px;
}

#vProfile,
#Cd {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

#Cd {
    width: 230px;
    font-weight: 500;
}

#vProfile:hover,
#Cd:hover {
    background-color: rgb(126, 235, 229);
}

img {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.player {
    z-index: 0;
}

.images {
    z-index: 1;
}

.aside-container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    padding-top: 100px;
}

.arrows {
    margin-top: 89px;
    margin-left: 200px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    cursor: pointer;
    /* flex-direction: row; */
}

.buttonPlayers {
    display: grid;
    grid-template-columns: 100%;
}

.switch-button {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 120px;
    margin-left: 180px;
    width: 120px;
    height: 50px;
    z-index: 1;
}

#switch {
    font-size: 15px;
    padding: 5px;
    border-radius: 2px;
}

#slider {
    width: 300px;
    cursor: pointer;
}

.main-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 0;
}

#pinHeightSlider {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 0;
}

#upArrow,
#downArrow {
    max-width: 20px;
}

#upArrow:hover,
#downArrow:hover {
    background-color: grey;
    border-radius: 2px;
}

.reading-table-container {
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}

#vel-profile-reading,
#vel-obsTable,
#cd-reading,
#cd-obsTable {
    border: 0.1rem solid black;
}

td,
th {
    text-align: center;
    width: 120px;
    border: 0.1rem solid black;
    height: 35px;
    margin-top: -10px;
}

.save,
.obs-table-container {
    display: grid;
    justify-content: center;
}

#save-btn {
    padding: 5px;
    font-size: 15px;
    width: 50px;
    border-radius: 5px;
    margin-top: 10px;
}

#obsTableContainer {
    margin-top: 20px;
    margin-bottom: 10px;
}

#show-obs-table {
    padding: 5px;
    font-size: 15px;
    width: 200px;
    border-radius: 5px;
    margin-top: 10px;
}

.observation {
    display: grid;
    justify-content: center;
}

#export {
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}

#toExcel {
    padding: 5px;
    font-size: 15px;
    width: 120px;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

button:focus {
    outline-style: none;
    outline: 0;
}

#proceed {
    float: right;
    height: 45px;
    width: 200px;
    margin-bottom: 15px;
    border-radius: 3rem;
    background-color: #614da7;
    color: white;
    font-size: 1.25rem;
}

input[type=range]::-moz-range-track {
    background-color: blue;
}